################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RPG/.vs/RPG/v15/Browse.VC.opendb
